% my ($css, $navbar, $doc) = @_;

%= $css

    <head>
      <title>~SPARKY CI WEB~ | about </title>
    </head>

%= $navbar

    <nav class="panel">
      <p class="panel-heading">
          About
      </p>
      <div class="content">
          %= $doc       
       </div>
     </nav>


